.placard:hover {
    box-shadow: 0px 0px 8px 8px #DFDFDF;
}

@font-face {
    font-family: acme;
    src: url(acme.ttf);
}


.placard{
height:25%;
width:100%;
border-radius: 15px;
margin-top:20px;
 box-shadow: 5px 5px #000040;
background-color:#f2f2f2;
display: inline-block;

}
.placard_desc{
padding:15px 10px;
font-family:acme;
background-color:#f2f2f2;
width:100%;
height: auto;
border-radius: 15px;
}


h5{

margin:0;
font-weight:lighter;
padding:0;
float:left;
}

h4{

margin:0;
font-weight:lighter;
padding:0;

}

h3{
color:#F59C00;
margin:0;
font-weight:thicker;
padding:0;
font-size:150%;
}
